html,body
{
    width: 90%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    overflow-x: hidden;
    
}

.divLeft60px
{
    width: 60%;
    float: left;
    margin-right: 5px;
    padding-left: 5px;
}

 .divRight40px 
 {
     width: 40%;
     float:right;
     padding-left: 5px;
 }
 
 .divRight35px 
 {
     width: 35%;
     float:right;
     padding-left: 5px;
     
 }

 li
 {
     display: inline-block;
     margin-left: 6px;
 }
 ul
 {
     float:right;
 }

 /* definir police */
 

 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 16px
    
 }
/* flitres */

.btn-filtre
{
    border: solid 2px;
    border-color: #f2f2f2;
    border-radius: 50px;
    background-color: white;
}
 
.btn-recherche
{
    color: white;
    /*border-top-right-radius: 150px 100px;
    border-bottom-right-radius: 150px 100px;*/
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    border: none;
    height: 25px;
}

.label-bold
{
    font-weight: bold;
}

label
{
    margin-bottom: 8px;
    display:inline-block;
}

.bcg-gray
{
    background-color: #c0c0c0;
}

button
{
    margin-bottom: 10px;
}

.blue-icone
{
    color:#0065FC;
    background-color:#DEEBFF;
    display:inline-block;
    border-radius:100%;
    height:15px;
    width:15px;
    padding: 3px 4px 3px 4px;
    background-position: center;
    
}

.map-gray
{
    background-color: #DEEBFF;
    height: 25px;
    width: 25px;
    display: inline-block;
    border-radius: 10px 0px 0px 10px;
    background-position: center;
    font-size: 15px;
    padding: 9px 0px 0px 9px;
}

.info-icone
{
    color: #DEEBFF;
}

input
{
    height: 25px;
    border-color: #f2f2f2;
    border: 0; 
    outline: none; 
    outline-offset: 0; 
    background-color:transparent;
    font-weight: bold;
    
} 

.div-gray
{
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}


.div-hebergement
{
    display: flex; 
}

.div-location
{
    height: 180px;
    width: 180px;
    border: solid 3px white;
    border-radius: 10px;
    display: inline-block;
    margin: 15px;
    
}

.div-footer-location
{
    background-color: white;
    display: block;
    height: 50px;
}

.arrondie {
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    }

.rating
{
    text-decoration: none;
    font-size: 1.2em;
        height: 30px;
}
.rating-blue {
   color: #0065FC;
   
}

.rating-gray {
    color: grey;
 }
 
 .img-location
 {
     height: 100px;
     width: 180px;
 }

 .div-les-plus-populaires
{
    display: flex; 
}

