.divLeft60px
{
    width: 60%;
    float: left;
}

 .divRight40px 
 {
     width: 40%;
     float:right;
 } 
 li
 {
     display: inline-block;
     margin-left: 6px;
 }
 ul
 {
     float:right;
 }

 /* definir police */
 

 h1{
    font-family: 'Raleway', sans-serif;
    font-size: 16px
    
 }
/* flitres */

.btn-filtre
{
    border: solid 2px black;
    border-radius: 50px;
}
 
.btn-recherche
{
    background-color: blue;
}