/*-------------header------------*/
header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav ul
{
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: space-between;*/
    order: 0;
}

li {
    display: inline;
    margin: 3px;
    text-decoration: none;
}

.lienMenu {
    position: absolute;
    top: 0px;
    right: 15px;
}

